body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 1.1rem;
    background: #181818;
    color: #fff;
    margin: 0;
}

* {
    font-family: monospace;
}

.container {
    height: 150px;
    width: 95%;
    margin-left: 20px;
    display: grid;
    gap: 3px;
}

.tab {
    display: inline-block;
    width: 30px;
    height: 5px;
}

.elem {
    color: orange;
}

.int {
    color: #c6919a;
}

.string {
    color: yellowgreen;
}

.bool {
    color: purple;
}

.comment {
    color: gray;
}
